In [ ]:
## Import packages

In [37]:
import pandas as pd
import numpy as np
import pyodbc
import datetime

In [ ]:
#1 : Check "price" column, if value = NULL/not number -> Delete row

In [38]:
test1 = pd.read_csv("car_sample_data1.csv", index_col=0)

test1["Price"].dropna(inplace = True)

links:(https://stackoverflow.com/questions/33961028/remove-non-numeric-rows-in-one-column-with-pandas)

In [39]:
test1[pd.to_numeric(test1['Price'], errors='coerce').notnull()]

,Symboling,Normalized-losses,Make,Fuel-type,Aspiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,Wheel-base,...,Fuel-system,Bore,Stroke,Compression-ratio,Horsepower,peak-rpm,city-mpg,highway-mpg,Price,Load-date
No,,,,,,,,,,,,,,,,,,,,,
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,2/3/2001
2,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,2/4/2001
3,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,2/5/2001
4,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,2/6/2001
5,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,2/7/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,0,161,peugot,gas,std,four,sedan,rwd,front,107.9,...,mpfi,3.46,3.19,8.4,97,5000,19,24,16630,5/29/2001
261,0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,...,idi,3.7,3.52,21.0,95,4150,28,33,17950,5/30/2001
262,0,161,peugot,gas,turbo,four,sedan,rwd,front,108.0,...,mpfi,3.61,3.21,7.0,142,5600,18,24,18150,5/31/2001
263,1,119,plymouth,gas,std,two,hatchback,fwd45h,front,93.7,...,2bbl,2.97,3.23,9.4,68,5500,37,41,5572,6/1/2001
264,1,119,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,...,spdi,3.03,3.39,7.6,102,5500,24,30,7957,6/2/2001

In [ ]:
https://statisticsglobe.com/delete-rows-in-pandas-dataframe-conditionally-python

In [20]:
test1

,Symboling,Normalized-losses,Make,Fuel-type,Aspiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,Wheel-base,...,Fuel-system,Bore,Stroke,Compression-ratio,Horsepower,peak-rpm,city-mpg,highway-mpg,Price,Load-date
No,,,,,,,,,,,,,,,,,,,,,
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,2/3/2001
2,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,2/4/2001
3,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,2/5/2001
4,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,2/6/2001
5,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,2/7/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,0,161,peugot,gas,std,four,sedan,rwd,front,107.9,...,mpfi,3.46,3.19,8.4,97,5000,19,24,16630,5/29/2001
261,0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,...,idi,3.7,3.52,21.0,95,4150,28,33,17950,5/30/2001
262,0,161,peugot,gas,turbo,four,sedan,rwd,front,108.0,...,mpfi,3.61,3.21,7.0,142,5600,18,24,18150,5/31/2001
263,1,119,plymouth,gas,std,two,hatchback,fwd45h,front,93.7,...,2bbl,2.97,3.23,9.4,68,5500,37,41,5572,6/1/2001
264,1,119,plymouth,gas,turbo,two,hatchback,fwd,front,93.7,...,spdi,3.03,3.39,7.6,102,5500,24,30,7957,6/2/2001

In [ ]:
#2 : Check length "drive-wheels", if >5 -> Delete row

In [40]:
test1[["Drive-wheels"]] = test1[["Drive-wheels"]].apply(pd.to_numeric, errors='coerce')

In [41]:
for x in test1['Drive-wheels'].index:
    if test1.loc[x, 'Drive-wheels'] >5 :
        test1['Drive-wheels'].drop(x, inplace = True)

In [ ]:
#3 : Check "Height, Width, Length, Engine-size, Bore, Stroke, Price" datatype, if not interger then -> Delete row
link: (https://stackoverflow.com/questions/15891038/change-column-type-in-pandas)

In [42]:
test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price"]] = test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price"]].apply(pd.to_numeric, errors='coerce')

In [ ]:
LINK: (https://stackoverflow.com/questions/43956335/convert-float64-column-to-int64-in-pandas)

In [43]:
test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price", "Wheel-base", "Compression-ratio", "Drive-wheels"]] = test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price", "Wheel-base", "Compression-ratio", "Drive-wheels"]].fillna(0).astype(np.int64)
test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price", "Wheel-base", "Compression-ratio", "Drive-wheels"]] = test1[["Height", "Width","Length", "Engine-size", "Bore", "Stroke", "Price", "Wheel-base", "Compression-ratio", "Drive-wheels"]].astype(np.int64)

In [25]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 1 to 264
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symboling          264 non-null    int64
 1   Normalized-losses  264 non-null    object
 2   Make               264 non-null    object
 3   Fuel-type          264 non-null    object
 4   Aspiration         264 non-null    object
 5   Num-of-doors       264 non-null    object
 6   Body-style         264 non-null    object
 7   Drive-wheels       0 non-null      float64
 8   Engine-location    264 non-null    object
 9   Wheel-base         264 non-null    float64
 10  Length             259 non-null    float64
 11  Width              258 non-null    float64
 12  Height             260 non-null    float64
 13  Curb-weight        264 non-null    int64
 14  Engine-type        264 non-null    object
 15  Num-of-cylinders   264 non-null    object
 16  Engine-size        260 non-null    float64
 17  Fuel-system        264 non-null    object
 18  Bore               256 non-null    float64
 19  Stroke             255 non-null    float64
 20  Compression-ratio  264 non-null    float64
 21  Horsepower         264 non-null    object
 22  peak-rpm           264 non-null    object
 23  city-mpg           264 non-null    int64
 24  highway-mpg        264 non-null    int64
 25  Price              247 non-null    float64
 26  Load-date          264 non-null    object
dtypes: float64(10), int64(4), object(13)
memory usage: 65.9+ KB

In [26]:
test1

,Symboling,Normalized-losses,Make,Fuel-type,Aspiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,Wheel-base,...,Fuel-system,Bore,Stroke,Compression-ratio,Horsepower,peak-rpm,city-mpg,highway-mpg,Price,Load-date
No,,,,,,,,,,,,,,,,,,,,,
1,3,?,alfa-romero,gas,std,two,convertible,NaN,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2/3/2001
2,3,?,alfa-romero,gas,std,two,convertible,NaN,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,2/4/2001
3,1,?,alfa-romero,gas,std,two,hatchback,NaN,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,2/5/2001
4,2,164,audi,gas,std,four,sedan,NaN,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,2/6/2001
5,2,164,audi,gas,std,four,sedan,NaN,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,2/7/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,0,161,peugot,gas,std,four,sedan,NaN,front,107.9,...,mpfi,3.46,3.19,8.4,97,5000,19,24,16630.0,5/29/2001
261,0,161,peugot,diesel,turbo,four,sedan,NaN,front,107.9,...,idi,3.70,3.52,21.0,95,4150,28,33,17950.0,5/30/2001
262,0,161,peugot,gas,turbo,four,sedan,NaN,front,108.0,...,mpfi,3.61,3.21,7.0,142,5600,18,24,18150.0,5/31/2001
263,1,119,plymouth,gas,std,two,hatchback,NaN,front,93.7,...,2bbl,2.97,3.23,9.4,68,5500,37,41,5572.0,6/1/2001
264,1,119,plymouth,gas,turbo,two,hatchback,NaN,front,93.7,...,spdi,3.03,3.39,7.6,102,5500,24,30,7957.0,6/2/2001

In [ ]:
#4: Remove duplicate row

In [44]:


test1.drop_duplicates(inplace = True)

In [ ]:
#5 : Rename column "Fuel-type" to "type", "Num-of-cylinders" to "Num_cylinders"

In [12]:


test1.rename (columns={'Fuel-type':'type'}, inplace=True)
test1.rename (columns={'Num-of-cylinders':'Num_cylinders'}, inplace=True)

In [ ]:
#6: Anonimize "dayUpdate" column to "1" (Ex: 20/11/2021 -> 01/11/2021)

In [ ]:
LINK: (https://stackoverflow.com/questions/45304531/extracting-the-first-day-of-month-of-a-datetime-type-column-in-pandas)

In [45]:
test1['Load-date'] = pd.to_datetime(test1['Load-date'])

In [46]:
test1['Load-date'] = test1['Load-date'].to_numpy().astype('datetime64[M]')

In [47]:
test1.rename (columns={'Fuel-type':'type'}, inplace=True)
test1.rename (columns={'Num-of-cylinders':'Num_cylinders'}, inplace=True)
test1.rename (columns={'Normalized-losses':'Normalized_losses'}, inplace=True)
test1.rename (columns={'Num-of-doors':'Num_of_doors'}, inplace=True)
test1.rename (columns={'Body-style':'Body_style'}, inplace=True)
test1.rename (columns={'Drive-wheels':'Drive_wheels'}, inplace=True)
test1.rename (columns={'Engine-location':'Engine_location'}, inplace=True)
test1.rename (columns={'Wheel-base':'Wheel_base'}, inplace=True)
test1.rename (columns={'Curb-weight':'Curb_weight'}, inplace=True)
test1.rename (columns={'Engine-type':'Engine_type'}, inplace=True)
test1.rename (columns={'Engine-size':'Engine_size'}, inplace=True)
test1.rename (columns={'Fuel-system':'Fuel_system'}, inplace=True)
test1.rename (columns={'Compression-ratio':'Compression_ratio'}, inplace=True)
test1.rename (columns={'peak-rpm':'peak_rpm'}, inplace=True)
test1.rename (columns={'city-mpg':'city_mpg'}, inplace=True)
test1.rename (columns={'highway-mpg':'highway_mpg'}, inplace=True)
test1.rename (columns={'Load-date':'Load_date'}, inplace=True)

In [35]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211 entries, 1 to 259
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symboling          211 non-null    int64
 1   Normalized_losses  211 non-null    object
 2   Make               211 non-null    object
 3   type               211 non-null    object
 4   Aspiration         211 non-null    object
 5   Num_of_doors       211 non-null    object
 6   Body_style         211 non-null    object
 7   Drive_wheels       0 non-null      float64
 8   Engine_location    211 non-null    object
 9   Wheel_base         211 non-null    float64
 10  Length             207 non-null    float64
 11  Width              207 non-null    float64
 12  Height             207 non-null    float64
 13  Curb_weight        211 non-null    int64
 14  Engine_type        211 non-null    object
 15  Num_cylinders      211 non-null    object
 16  Engine_size        207 non-null    float64
 17  Fuel_system        211 non-null    object
 18  Bore               203 non-null    float64
 19  Stroke             202 non-null    float64
 20  Compression_ratio  211 non-null    float64
 21  Horsepower         211 non-null    object
 22  peak_rpm           211 non-null    object
 23  city_mpg           211 non-null    int64
 24  highway_mpg        211 non-null    int64
 25  Price              196 non-null    float64
 26  Load_date          211 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int64(4), object(12)
memory usage: 46.2+ KB

In [48]:
test1["Normalized_losses"].replace({"?": "0"}, inplace=True)

In [ ]:
#7 insert Validated data into SQL(native table) and save bad record to csv in local.
LINK: (https://datatofish.com/import-csv-sql-server-python/)

In [ ]:
## Connect to SQL Server

In [49]:
# Connect to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=INTERN-PQUOCANH\PHANQUOCANH;'
                      'Database=DTB_TEST1;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [ ]:
## Test connection

In [ ]:
cursor.execute('SELECT * FROM [DTB_TEST1].[dbo].[CARtabel_test1_demo2]')

for row in cursor:
    print('row = %r' % (row,))

In [50]:
# Create Table
cursor.execute
('''
    CREATE TABLE CARtabel_test1_demo2 (
        Symboling int,
        Normalized_losses int,
        Make object,
        Fueltype object,
        Aspiration object,
        Num_of_doors object,
        Body_style object,
        Drive_wheels object,
        Engine_location object,
        Wheel_base float,
        Length float,
        Width float,
        Height float,
        Curb_weight int,
        Engine_type object,
        Num_cylinders object,
        Engine_size float,
        Fuel_system object,
        Bore float,
        Stroke float, 
        Compression_ratio float,
        Horsepower object,
        peak_rpm object,
        city_mpg int,
        highway_mpg int, 
        Price float,
        Load_date object
        )
''')

'\n    CREATE TABLE CARtabel_test1_demo2 (\n        Symboling int,\n        Normalized_losses int,\n        Make object,\n        Fueltype object,\n        Aspiration object,\n        Num_of_doors object,\n        Body_style object,\n        Drive_wheels object,\n        Engine_location object,\n        Wheel_base float,\n        Length float,\n        Width float,\n        Height float,\n        Curb_weight int,\n        Engine_type object,\n        Num_cylinders object,\n        Engine_size float,\n        Fuel_system object,\n        Bore float,\n        Stroke float, \n        Compression_ratio float,\n        Horsepower object,\n        peak_rpm object,\n        city_mpg int,\n        highway_mpg int, \n        Price float,\n        Load_date object\n        )\n'

In [51]:
# Insert data to database
for row in test1.itertuples():
    cursor.execute('''
    INSERT INTO CARtabel_test1_demo2 (Symboling, Normalized_losses, Make, type, Aspiration, Num_of_doors, Body_style, Drive_wheels, Engine_location, Wheel_base, Length, Width, Height, Curb_weight, Engine_type, Num_cylinders, Engine_size, Fuel_system, Bore,Stroke, Compression_ratio, Horsepower, peak_rpm, city_mpg, highway_mpg, Price,Load_date )
    VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)  
                 ''',                 
                row.Symboling,      
                row.Normalized_losses,
                row.Make,
                row.type,
                row.Aspiration,
                row.Num_of_doors,
                row.Body_style,
                row.Drive_wheels,
                row.Engine_location,
                row.Wheel_base,
                row.Length,
                row.Width,
                row.Height,
                row.Curb_weight,
                row.Engine_type,
                row.Num_cylinders,
                row.Engine_size,
                row.Fuel_system,
                row.Bore,
                row.Stroke, 
                row.Compression_ratio,
                row.Horsepower,
                row.peak_rpm,
                row.city_mpg,
                row.highway_mpg, 
                row.Price,
                row.Load_date 
                )
conn.commit()

In [102]:
len(list(test1.columns))

28

In [12]:
for row in test1.itertuples():
    print (row)

Pandas(Index=0, No=1, Symboling=3, _3='?', Make='alfa-romero', _5='gas', Aspiration='std', _7='two', _8='convertible', _9='rwd', _10='front', _11=88.6, Length='168.8', Width='64.1', Height='48.8', _15=2548, _16='dohc', _17='four', _18='130', _19='mpfi', Bore='3.47', Stroke='2.68', _22=9.0, Horsepower='111', _24='5000', _25=21, _26=27, Price='13495', _28='2/3/2001')
Pandas(Index=1, No=2, Symboling=3, _3='?', Make='alfa-romero', _5='gas', Aspiration='std', _7='two', _8='convertible', _9='rwd', _10='front', _11=88.6, Length='168.8', Width='64.1', Height='48.8', _15=2548, _16='dohc', _17='four', _18='130', _19='mpfi', Bore='3.47', Stroke='2.68', _22=9.0, Horsepower='111', _24='5000', _25=21, _26=27, Price='16500', _28='2/4/2001')
Pandas(Index=2, No=3, Symboling=1, _3='?', Make='alfa-romero', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='rwd', _10='front', _11=94.5, Length='171.2', Width='65.5', Height='52.4', _15=2823, _16='ohcv', _17='six', _18='152', _19='mpfi', Bore='2.68', Stroke='3.47', _22=9.0, Horsepower='154', _24='5000', _25=19, _26=26, Price='16500', _28='2/5/2001')
Pandas(Index=3, No=4, Symboling=2, _3='164', Make='audi', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=99.8, Length='176.6', Width='66.2', Height='54.3', _15=2337, _16='ohc', _17='four', _18='109', _19='mpfi', Bore='3.19', Stroke='3.4', _22=10.0, Horsepower='102', _24='5500', _25=24, _26=30, Price='13950', _28='2/6/2001')
Pandas(Index=4, No=5, Symboling=2, _3='164', Make='audi', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='4wd', _10='front', _11=99.4, Length='176.6', Width='66.4', Height='54.3', _15=2824, _16='ohc', _17='five', _18='136', _19='mpfi', Bore='3.19', Stroke='3.4', _22=8.0, Horsepower='115', _24='5500', _25=18, _26=22, Price='17450', _28='2/7/2001')
Pandas(Index=5, No=6, Symboling=2, _3='?', Make='audi', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='fwd', _10='front', _11=99.8, Length='177.3', Width='66.3', Height='53.1', _15=2507, _16='ohc', _17='five', _18='136', _19='mpfi', Bore='3.19', Stroke='3.4', _22=8.5, Horsepower='110', _24='5500', _25=19, _26=25, Price='15250', _28='2/8/2001')
Pandas(Index=6, No=7, Symboling=1, _3='158', Make='audi', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=105.8, Length='192.7', Width='71.4', Height='55.7', _15=2844, _16='ohc', _17='five', _18='136', _19='mpfi', Bore='3.19', Stroke='3.4', _22=8.5, Horsepower='110', _24='5500', _25=19, _26=25, Price='17710', _28='2/9/2001')
Pandas(Index=7, No=8, Symboling=1, _3='?', Make='audi', _5='gas', Aspiration='std', _7='four', _8='wagon', _9='fwd', _10='front', _11=105.8, Length='192.7', Width='71.4', Height='55kg', _15=2954, _16='ohc', _17='five', _18='136', _19='mpfi', Bore='3.19', Stroke='3.4', _22=8.5, Horsepower='110', _24='5500', _25=19, _26=25, Price=nan, _28='2/10/2001')
Pandas(Index=8, No=9, Symboling=1, _3='158', Make='audi', _5='gas', Aspiration='turbo', _7='four', _8='sedan', _9='fwd', _10='front', _11=105.8, Length='192.7', Width='71.4', Height='55.9', _15=3086, _16='ohc', _17='five', _18='free-size', _19='mpfi', Bore='3.13', Stroke='3.4', _22=8.3, Horsepower='140', _24='5500', _25=17, _26=20, Price='23875', _28='2/11/2001')
Pandas(Index=9, No=10, Symboling=0, _3='?', Make='audi', _5='gas', Aspiration='turbo', _7='two', _8='hatchback', _9='4wd', _10='front', _11=99.5, Length='178.2', Width='67.9', Height='52', _15=3053, _16='ohc', _17='five', _18='131', _19='mpfi', Bore='3.13', Stroke='3.4', _22=7.0, Horsepower='160', _24='5500', _25=16, _26=22, Price='?', _28='2/12/2001')
Pandas(Index=10, No=11, Symboling=2, _3='192', Make='bmw', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='rwd', _10='front', _11=101.2, Length='176.8', Width='64.8', Height='54.3', _15=2395, _16='ohc', _17='four', _18='108', _19='mpfi', Bore='3.5', Stroke='2.8', _22=8.8, Horsepower='101', _24='5800', _25=23, _26=29, Price='16430', _28='2/13/2001')
Pandas(Index=11, No=12, Symboling=0, _3='192', Make='bmw', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=101.2, Length='176.8', Width='64.8', Height='54.3', _15=2395, _16='ohc', _17='four', _18='108', _19='mpfi', Bore='?', Stroke='2.8', _22=8.8, Horsepower='101', _24='5800', _25=23, _26=29, Price='16925', _28='2/14/2001')
Pandas(Index=12, No=13, Symboling=0, _3='188', Make='bmw', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='rwd', _10='front', _11=101.2, Length='176.8', Width='64.8', Height='54.3', _15=2710, _16='ohc', _17='six', _18='164', _19='mpfi', Bore='3.31', Stroke='3.19', _22=9.0, Horsepower='121', _24='4250', _25=21, _26=28, Price='20970', _28='2/15/2001')
Pandas(Index=13, No=14, Symboling=0, _3='188', Make='bmw', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=101.2, Length='176.8', Width='2km', Height='54.3', _15=2765, _16='ohc', _17='six', _18='164', _19='mpfi', Bore='3.31', Stroke='3.19', _22=9.0, Horsepower='121', _24='4250', _25=21, _26=28, Price='21105', _28='2/16/2001')
Pandas(Index=14, No=15, Symboling=1, _3='?', Make='bmw', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=103.5, Length='189', Width='66.9', Height='55.7', _15=3055, _16='ohc', _17='six', _18='164', _19='mpfi', Bore='3.31', Stroke='3.19', _22=9.0, Horsepower='121', _24='4250', _25=20, _26=25, Price='24565', _28='2/17/2001')
Pandas(Index=15, No=16, Symboling=0, _3='?', Make='bmw', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=103.5, Length='189', Width='66.9', Height='55.7', _15=3230, _16='ohc', _17='six', _18='209', _19='mpfi', Bore='3.62', Stroke='3.39', _22=8.0, Horsepower='182', _24='5400', _25=16, _26=22, Price='30760', _28='2/18/2001')
Pandas(Index=16, No=17, Symboling=0, _3='?', Make='bmw', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='rwd45h', _10='front', _11=103.5, Length='193.8', Width='67.9', Height='53.7', _15=3380, _16='ohc', _17='six', _18='209', _19='mpfi', Bore='3.62', Stroke='3.39', _22=8.0, Horsepower='182', _24='5400', _25=16, _26=22, Price='41315', _28='2/19/2001')
Pandas(Index=17, No=18, Symboling=0, _3='?', Make='bmw', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=110.0, Length='17dm', Width='70.9', Height='56.3', _15=3505, _16='ohc', _17='six', _18='209', _19='mpfi', Bore='3.62', Stroke='3.39', _22=8.0, Horsepower='182', _24='5400', _25=15, _26=20, Price=nan, _28='2/20/2001')
Pandas(Index=18, No=19, Symboling=2, _3='121', Make='chevrolet', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=88.4, Length='141.1', Width='60.3', Height='53.2', _15=1488, _16='l', _17='three', _18='61', _19='2bbl', Bore='2.91', Stroke='3.03', _22=9.5, Horsepower='48', _24='5100', _25=47, _26=53, Price='5151', _28='2/21/2001')
Pandas(Index=19, No=20, Symboling=1, _3='98', Make='chevrolet', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=94.5, Length='155.9', Width='63.6', Height='52', _15=1874, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='3.03', Stroke='3.11', _22=9.6, Horsepower='70', _24='5400', _25=38, _26=43, Price='6295', _28='2/22/2001')
Pandas(Index=20, No=21, Symboling=0, _3='81', Make='chevrolet', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=94.5, Length='158.8', Width='63.6', Height='52', _15=1909, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='3.03', Stroke='3.11', _22=9.6, Horsepower='70', _24='5400', _25=38, _26=43, Price='6575', _28='2/23/2001')
Pandas(Index=21, No=22, Symboling=1, _3='118', Make='dodge', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='5m', Height='50.8', _15=1876, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='2.97', Stroke='3.23', _22=9.41, Horsepower='68', _24='5500', _25=37, _26=41, Price='5572', _28='2/24/2001')
Pandas(Index=22, No=23, Symboling=1, _3='118', Make='dodge', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.8', _15=1876, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='2.97', Stroke='3.23', _22=9.4, Horsepower='68', _24='5500', _25=31, _26=38, Price=nan, _28='2/25/2001')
Pandas(Index=23, No=24, Symboling=1, _3='118', Make='dodge', _5='gas', Aspiration='turbo', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.8', _15=2128, _16='ohc', _17='four', _18='98', _19='mpfi', Bore='3.03', Stroke='3.39', _22=7.6, Horsepower='102', _24='5500', _25=24, _26=30, Price='7957', _28='2/26/2001')
Pandas(Index=24, No=25, Symboling=1, _3='148', Make='dodge', _5='gas', Aspiration='std', _7='four', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.6', _15=1967, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='2.97', Stroke='3.23', _22=9.4, Horsepower='68', _24='5500', _25=31, _26=38, Price='6229', _28='2/27/2001')
Pandas(Index=25, No=26, Symboling=1, _3='148', Make='dodge', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.6', _15=1989, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='2.97', Stroke='3.23', _22=9.4, Horsepower='68', _24='5500', _25=31, _26=38, Price='6692', _28='2/28/2001')
Pandas(Index=26, No=27, Symboling=1, _3='148', Make='dodge', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.6', _15=1989, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='2.97', Stroke='3.23', _22=9.4, Horsepower='68', _24='5500', _25=31, _26=38, Price='7609', _28='3/1/2001')
Pandas(Index=27, No=28, Symboling=1, _3='148', Make='dodge', _5='gas', Aspiration='turbo', _7='?', _8='sedan', _9='fwd', _10='front', _11=93.7, Length='157.3', Width='63.8', Height='50.6', _15=2191, _16='ohc', _17='four', _18='98', _19='mpfi', Bore='3.03', Stroke='3.39', _22=7.6, Horsepower='102', _24='5500', _25=24, _26=30, Price='8558', _28='3/2/2001')
Pandas(Index=28, No=29, Symboling=-1, _3='110', Make='dodge', _5='gas', Aspiration='std', _7='four', _8='wagon', _9='fwd', _10='front', _11=103.3, Length='174.6', Width='64.6', Height='59.8', _15=2535, _16='ohc', _17='four', _18='over-size', _19='2bbl', Bore='3.34', Stroke='3.46', _22=8.5, Horsepower='88', _24='5000', _25=24, _26=30, Price='8921', _28='3/3/2001')
Pandas(Index=29, No=30, Symboling=3, _3='145', Make='dodge', _5='gas', Aspiration='turbo', _7='two', _8='hatchback', _9='fwd', _10='front', _11=95.9, Length='173.2', Width='66.3', Height='50.2', _15=2811, _16='ohc', _17='four', _18='156', _19='mfi', Bore='3.6', Stroke='3.9', _22=7.0, Horsepower='145', _24='5000', _25=19, _26=24, Price='12964', _28='3/4/2001')
Pandas(Index=30, No=31, Symboling=2, _3='137', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=86.6, Length='144.6', Width='63.9', Height='50.8', _15=1713, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.91', Stroke='3.41', _22=9.6, Horsepower='58', _24='4800', _25=49, _26=54, Price='6479', _28='3/5/2001')
Pandas(Index=31, No=32, Symboling=2, _3='137', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwdrkh', _10='front', _11=86.6, Length='144.6', Width='63.9', Height='50.8', _15=1819, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.91', Stroke='3.41', _22=9.2, Horsepower='76', _24='6000', _25=31, _26=38, Price='6855', _28='3/6/2001')
Pandas(Index=32, No=33, Symboling=1, _3='101', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='150', Width='64', Height='52.6', _15=1837, _16='ohc', _17='four', _18='79', _19='1bbl', Bore='2.91', Stroke=nan, _22=10.1, Horsepower='60', _24='5500', _25=38, _26=42, Price='5399', _28='3/7/2001')
Pandas(Index=33, No=34, Symboling=1, _3='101', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='150', Width='64', Height='52.6', _15=1940, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.91', Stroke='3.41', _22=9.2, Horsepower='76', _24='6000', _25=30, _26=34, Price='6529', _28='3/8/2001')
Pandas(Index=34, No=35, Symboling=1, _3='101', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.7, Length='150', Width='64', Height='52.6', _15=1956, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.91', Stroke='3.41', _22=9.2, Horsepower='76', _24='6000', _25=30, _26=34, Price='7129', _28='3/9/2001')
Pandas(Index=35, No=36, Symboling=0, _3='110', Make='honda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=96.5, Length='163.4', Width='64', Height='54.5', _15=2010, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.91', Stroke='3.41', _22=9.2, Horsepower='76', _24='6000', _25=30, _26=34, Price='7295', _28='3/10/2001')
Pandas(Index=36, No=37, Symboling=0, _3='78', Make='honda', _5='gas', Aspiration='std', _7='four', _8='wagon', _9='fwd', _10='front', _11=96.5, Length='157.1', Width='63.9', Height='58.3', _15=2024, _16='ohc', _17='four', _18='92', _19='1bbl', Bore='2.92', Stroke='3.41', _22=9.2, Horsepower='76', _24='6000', _25=30, _26=34, Price='7295', _28='3/11/2001')
Pandas(Index=37, No=38, Symboling=0, _3='106', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=96.5, Length='167.5', Width='65.2', Height='53.3', _15=2236, _16='ohc', _17='four', _18='110', _19='1bbl', Bore='3.15', Stroke='3.58', _22=9.0, Horsepower='86', _24='5800', _25=27, _26=33, Price='7895', _28='3/12/2001')
Pandas(Index=38, No=39, Symboling=0, _3='106', Make='honda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=96.5, Length='167.5', Width='65.2', Height='53.3', _15=2289, _16='ohc', _17='four', _18='110', _19='1bbl', Bore='non', Stroke='3.58', _22=9.0, Horsepower='86', _24='5800', _25=27, _26=33, Price='9095', _28='3/13/2001')
Pandas(Index=39, No=40, Symboling=0, _3='85', Make='honda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=96.5, Length='175.4', Width='65.2', Height='54.1', _15=2304, _16='ohc', _17='four', _18='110', _19='1bbl', Bore='3.15', Stroke='3.58', _22=9.0, Horsepower='86', _24='5800', _25=27, _26=33, Price='8845', _28='3/14/2001')
Pandas(Index=40, No=41, Symboling=0, _3='85', Make='honda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=96.5, Length='175.4', Width='62.5', Height='54.1', _15=2372, _16='ohc', _17='four', _18='110', _19='1bbl', Bore='3.15', Stroke='3.58', _22=9.0, Horsepower='86', _24='5800', _25=27, _26=33, Price='10295', _28='3/15/2001')
Pandas(Index=41, No=42, Symboling=0, _3='85', Make='honda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=96.5, Length='175.4', Width='65.2', Height='54.1', _15=2465, _16='ohc', _17='four', _18='110', _19='mpfi', Bore='3.15', Stroke='3.58', _22=9.0, Horsepower='101', _24='5800', _25=24, _26=28, Price='12945', _28='3/16/2001')
Pandas(Index=42, No=43, Symboling=1, _3='107', Make='honda', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='fwd', _10='front', _11=96.5, Length='169.1', Width='66', Height='51gram', _15=2293, _16='ohc', _17='four', _18='110', _19='2bbl', Bore='3.15', Stroke='3.58', _22=9.1, Horsepower='100', _24='5500', _25=25, _26=31, Price='10345', _28='3/17/2001')
Pandas(Index=43, No=44, Symboling=0, _3='?', Make='isuzu', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=94.3, Length='170.7', Width='61.8', Height='53.5', _15=2337, _16='ohc', _17='four', _18='111', _19='2bbl', Bore='3.31', Stroke='3.23', _22=8.5, Horsepower='78', _24='4800', _25=24, _26=29, Price='6785', _28='3/18/2001')
Pandas(Index=44, No=45, Symboling=1, _3='?', Make='isuzu', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='fwd', _10='front', _11=94.5, Length='155.9', Width='63.6', Height='52', _15=1874, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='3.03', Stroke='3.11', _22=9.6, Horsepower='70', _24='5400', _25=38, _26=43, Price='?', _28='3/19/2001')
Pandas(Index=45, No=46, Symboling=0, _3='?', Make='isuzu', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=94.5, Length='155.9', Width='63.6', Height='52', _15=1909, _16='ohc', _17='four', _18='90', _19='2bbl', Bore='3.03', Stroke='3.11', _22=9.6, Horsepower='70', _24='5400', _25=38, _26=43, Price='?', _28='3/20/2001')
Pandas(Index=46, No=47, Symboling=2, _3='?', Make='isuzu', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='llkhir', _10='front', _11=96.0, Length='172.6', Width='65.2', Height='51.4', _15=2734, _16='ohc', _17='four', _18='119', _19='spfi', Bore='3.43', Stroke='3.23', _22=9.2, Horsepower='90', _24='5000', _25=24, _26=29, Price='11048', _28='3/21/2001')
Pandas(Index=47, No=48, Symboling=0, _3='145', Make='jaguar', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=113.0, Length='199.6', Width='69.6', Height='52.8', _15=4066, _16='dohc', _17='six', _18='258', _19='mpfi', Bore='3.63', Stroke='4.17', _22=8.1, Horsepower='176', _24='4750', _25=15, _26=19, Price='32250', _28='3/22/2001')
Pandas(Index=48, No=49, Symboling=0, _3='?', Make='jaguar', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='rwd', _10='front', _11=113.0, Length='199.6', Width='69.6', Height='52.8', _15=4066, _16='dohc', _17='six', _18='258', _19='mpfi', Bore='3.63', Stroke='4.17', _22=8.1, Horsepower='176', _24='4750', _25=15, _26=19, Price='35550', _28='3/23/2001')
Pandas(Index=49, No=50, Symboling=0, _3='?', Make='jaguar', _5='gas', Aspiration='std', _7='two', _8='sedan', _9='rwd', _10='front', _11=102.0, Length='191.7', Width='70.6', Height='47.8', _15=3950, _16='ohcv', _17='twelve', _18='326', _19='mpfi', Bore='3.54', Stroke='2.76', _22=11.5, Horsepower='262', _24='5000', _25=13, _26=17, Price='36000', _28='3/24/2001')
Pandas(Index=50, No=51, Symboling=1, _3='104', Make='mazda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.1, Length='159.1', Width='64.2', Height='54.1', _15=1890, _16='ohc', _17='four', _18='91', _19='2bbl', Bore='3.03', Stroke='3.15', _22=9.0, Horsepower='68', _24='5000', _25=30, _26=31, Price='5195', _28='3/25/2001')
Pandas(Index=51, No=52, Symboling=1, _3='104', Make='mazda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.1, Length='159.1', Width='64.2', Height='54.1', _15=1900, _16='ohc', _17='four', _18='91', _19='2bbl', Bore='3.03', Stroke='3.15', _22=9.0, Horsepower='68', _24='5000', _25=31, _26=38, Price='6095', _28='3/26/2001')
Pandas(Index=52, No=53, Symboling=1, _3='104', Make='mazda', _5='gas', Aspiration='std', _7='two', _8='hatchback', _9='fwd', _10='front', _11=93.1, Length='159.1', Width='64.2', Height='54.1', _15=1905, _16='ohc', _17='four', _18='91', _19='2bbl', Bore='3.03', Stroke='3.15', _22=9.0, Horsepower='68', _24='5000', _25=31, _26=38, Price='6795', _28='3/27/2001')
Pandas(Index=53, No=54, Symboling=1, _3='113', Make='mazda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=93.1, Length='166.8', Width='64.2', Height='54.1', _15=1945, _16='ohc', _17='four', _18='91', _19='2bbl', Bore='3.03', Stroke='3.15', _22=9.0, Horsepower='68', _24='5000', _25=31, _26=38, Price='6695', _28='3/28/2001')
Pandas(Index=54, No=55, Symboling=1, _3='113', Make='mazda', _5='gas', Aspiration='std', _7='four', _8='sedan', _9='fwd', _10='front', _11=93.1, Length='166.8', Width='64.2', Height='54.1', _15=1950, _16='ohc', _17='four', _18='91', _19='2bbl', Bore='3.08', Stroke='3.15', _22=9.0, Horsepower='68', _24='5000', _25=31, _26=38, Price='7395', _28='3/29/2001')

In [ ]:
## check each sou code (inssert data vali to SQL)

In [6]:
import pandas as pd
import pyodbc
import datetime
# Import CSV
data = pd.read_csv (r'C:\Users\intern.pquocanh\Documents\Python Scripts\car_sample_data1.csv')   
test1 = pd.DataFrame(data)

In [7]:
# Connect to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=INTERN-PQUOCANH\PHANQUOCANH;'
                      'Database=DTB_TEST1;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

,No,Symboling,Normalized-losses,Make,Fuel-type,Aspiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,...,Fuel-system,Bore,Stroke,Compression-ratio,Horsepower,peak-rpm,city-mpg,highway-mpg,Price,Load-date
0,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,2/3/2001
1,2,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,2/4/2001
2,3,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,2/5/2001
3,4,2,164,audi,gas,std,four,sedan,fwd,front,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,2/6/2001
4,5,2,164,audi,gas,std,four,sedan,4wd,front,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,2/7/2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,260,0,161,peugot,gas,std,four,sedan,rwd,front,...,mpfi,3.46,3.19,8.4,97,5000,19,24,16630,5/29/2001
260,261,0,161,peugot,diesel,turbo,four,sedan,rwd,front,...,idi,3.7,3.52,21.0,95,4150,28,33,17950,5/30/2001
261,262,0,161,peugot,gas,turbo,four,sedan,rwd,front,...,mpfi,3.61,3.21,7.0,142,5600,18,24,18150,5/31/2001
262,263,1,119,plymouth,gas,std,two,hatchback,fwd45h,front,...,2bbl,2.97,3.23,9.4,68,5500,37,41,5572,6/1/2001
263,264,1,119,plymouth,gas,turbo,two,hatchback,fwd,front,...,spdi,3.03,3.39,7.6,102,5500,24,30,7957,6/2/2001

In [13]:
query = """ INSERT INTO [DTB_TEST1].[dbo].[CARtabel_test1_demo2] ( Symboling, type )
VALUES (3, 1) ; """

In [14]:
cursor.execute

In [113]:
cursor.execute('SELECT * FROM [DTB_TEST1].[dbo].[CARtabel_test1_demo2]')

for row in cursor:
    print('row = %r' % (row,))

row = (3, '0', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.0, 168.0, 64.0, 48.0, 2548, 'dohc', 'four', 130.0, 'mpfi', 3.0, 2.0, 9.0, '111', '5000', 21, 27, 13495.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (3, '0', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.0, 168.0, 64.0, 48.0, 2548, 'dohc', 'four', 130.0, 'mpfi', 3.0, 2.0, 9.0, '111', '5000', 21, 27, 16500.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '0', 'alfa-romero', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 94.0, 171.0, 65.0, 52.0, 2823, 'ohcv', 'six', 152.0, 'mpfi', 2.0, 3.0, 9.0, '154', '5000', 19, 26, 16500.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 99.0, 176.0, 66.0, 54.0, 2337, 'ohc', 'four', 109.0, 'mpfi', 3.0, 3.0, 10.0, '102', '5500', 24, 30, 13950.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', '4wd', 'front', 99.0, 176.0, 66.0, 54.0, 2824, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '115', '5500', 18, 22, 17450.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '0', 'audi', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 99.0, 177.0, 66.0, 53.0, 2507, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 15250.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '158', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 105.0, 192.0, 71.0, 55.0, 2844, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 17710.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '0', 'audi', 'gas', 'std', 'four', 'wagon', 'fwd', 'front', 105.0, 192.0, 71.0, 0.0, 2954, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '158', 'audi', 'gas', 'turbo', 'four', 'sedan', 'fwd', 'front', 105.0, 192.0, 71.0, 55.0, 3086, 'ohc', 'five', 0.0, 'mpfi', 3.0, 3.0, 8.0, '140', '5500', 17, 20, 23875.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '0', 'audi', 'gas', 'turbo', 'two', 'hatchback', '4wd', 'front', 99.0, 178.0, 67.0, 52.0, 3053, 'ohc', 'five', 131.0, 'mpfi', 3.0, 3.0, 7.0, '160', '5500', 16, 22, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '192', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2395, 'ohc', 'four', 108.0, 'mpfi', 3.0, 2.0, 8.0, '101', '5800', 23, 29, 16430.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '192', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2395, 'ohc', 'four', 108.0, 'mpfi', 0.0, 2.0, 8.0, '101', '5800', 23, 29, 16925.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '188', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2710, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 21, 28, 20970.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '188', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 101.0, 176.0, 0.0, 54.0, 2765, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 21, 28, 21105.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '0', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 103.0, 189.0, 66.0, 55.0, 3055, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 20, 25, 24565.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '0', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 103.0, 189.0, 66.0, 55.0, 3230, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 16, 22, 30760.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '0', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd45h', 'front', 103.0, 193.0, 67.0, 53.0, 3380, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 16, 22, 41315.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '0', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 110.0, 0.0, 70.0, 56.0, 3505, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 15, 20, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '121', 'chevrolet', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 88.0, 141.0, 60.0, 53.0, 1488, 'l', 'three', 61.0, '2bbl', 2.0, 3.0, 9.0, '48', '5100', 47, 53, 5151.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '98', 'chevrolet', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 94.0, 155.0, 63.0, 52.0, 1874, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 6295.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '81', 'chevrolet', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 94.0, 158.0, 63.0, 52.0, 1909, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 6575.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 0.0, 50.0, 1876, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 37, 41, 5572.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1876, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'turbo', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 2128, 'ohc', 'four', 98.0, 'mpfi', 3.0, 3.0, 7.0, '102', '5500', 24, 30, 7957.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1967, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 6229.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1989, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 6692.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1989, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 7609.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'turbo', '?', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 2191, 'ohc', 'four', 98.0, 'mpfi', 3.0, 3.0, 7.0, '102', '5500', 24, 30, 8558.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (-1, '110', 'dodge', 'gas', 'std', 'four', 'wagon', 'fwd', 'front', 103.0, 174.0, 64.0, 59.0, 2535, 'ohc', 'four', 0.0, '2bbl', 3.0, 3.0, 8.0, '88', '5000', 24, 30, 8921.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '145', 'dodge', 'gas', 'turbo', 'two', 'hatchback', 'fwd', 'front', 95.0, 173.0, 66.0, 50.0, 2811, 'ohc', 'four', 156.0, 'mfi', 3.0, 3.0, 7.0, '145', '5000', 19, 24, 12964.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (2, '137', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 86.0, 144.0, 63.0, 50.0, 1713, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '58', '4800', 49, 54, 6479.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (2, '137', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwdrkh', 'front', 86.0, 144.0, 63.0, 50.0, 1819, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 31, 38, 6855.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '101', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 150.0, 64.0, 52.0, 1837, 'ohc', 'four', 79.0, '1bbl', 2.0, 0.0, 10.0, '60', '5500', 38, 42, 5399.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '?', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.0, 168.0, 64.0, 48.0, 2548, 'dohc', 'four', 130.0, 'mpfi', 3.0, 2.0, 9.0, '111', '5000', 21, 27, 13495.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (3, '?', 'alfa-romero', 'gas', 'std', 'two', 'convertible', 'rwd', 'front', 88.0, 168.0, 64.0, 48.0, 2548, 'dohc', 'four', 130.0, 'mpfi', 3.0, 2.0, 9.0, '111', '5000', 21, 27, 16500.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '?', 'alfa-romero', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 94.0, 171.0, 65.0, 52.0, 2823, 'ohcv', 'six', 152.0, 'mpfi', 2.0, 3.0, 9.0, '154', '5000', 19, 26, 16500.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 99.0, 176.0, 66.0, 54.0, 2337, 'ohc', 'four', 109.0, 'mpfi', 3.0, 3.0, 10.0, '102', '5500', 24, 30, 13950.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '164', 'audi', 'gas', 'std', 'four', 'sedan', '4wd', 'front', 99.0, 176.0, 66.0, 54.0, 2824, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '115', '5500', 18, 22, 17450.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '?', 'audi', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 99.0, 177.0, 66.0, 53.0, 2507, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 15250.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '158', 'audi', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 105.0, 192.0, 71.0, 55.0, 2844, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 17710.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '?', 'audi', 'gas', 'std', 'four', 'wagon', 'fwd', 'front', 105.0, 192.0, 71.0, 0.0, 2954, 'ohc', 'five', 136.0, 'mpfi', 3.0, 3.0, 8.0, '110', '5500', 19, 25, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '158', 'audi', 'gas', 'turbo', 'four', 'sedan', 'fwd', 'front', 105.0, 192.0, 71.0, 55.0, 3086, 'ohc', 'five', 0.0, 'mpfi', 3.0, 3.0, 8.0, '140', '5500', 17, 20, 23875.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '?', 'audi', 'gas', 'turbo', 'two', 'hatchback', '4wd', 'front', 99.0, 178.0, 67.0, 52.0, 3053, 'ohc', 'five', 131.0, 'mpfi', 3.0, 3.0, 7.0, '160', '5500', 16, 22, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '192', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2395, 'ohc', 'four', 108.0, 'mpfi', 3.0, 2.0, 8.0, '101', '5800', 23, 29, 16430.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '192', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2395, 'ohc', 'four', 108.0, 'mpfi', 0.0, 2.0, 8.0, '101', '5800', 23, 29, 16925.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '188', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd', 'front', 101.0, 176.0, 64.0, 54.0, 2710, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 21, 28, 20970.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '188', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 101.0, 176.0, 0.0, 54.0, 2765, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 21, 28, 21105.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '?', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 103.0, 189.0, 66.0, 55.0, 3055, 'ohc', 'six', 164.0, 'mpfi', 3.0, 3.0, 9.0, '121', '4250', 20, 25, 24565.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '?', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 103.0, 189.0, 66.0, 55.0, 3230, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 16, 22, 30760.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '?', 'bmw', 'gas', 'std', 'two', 'sedan', 'rwd45h', 'front', 103.0, 193.0, 67.0, 53.0, 3380, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 16, 22, 41315.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '?', 'bmw', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 110.0, 0.0, 70.0, 56.0, 3505, 'ohc', 'six', 209.0, 'mpfi', 3.0, 3.0, 8.0, '182', '5400', 15, 20, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (2, '121', 'chevrolet', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 88.0, 141.0, 60.0, 53.0, 1488, 'l', 'three', 61.0, '2bbl', 2.0, 3.0, 9.0, '48', '5100', 47, 53, 5151.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '98', 'chevrolet', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 94.0, 155.0, 63.0, 52.0, 1874, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 6295.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (0, '81', 'chevrolet', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 94.0, 158.0, 63.0, 52.0, 1909, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 6575.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 0.0, 50.0, 1876, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 37, 41, 5572.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1876, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 0.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '118', 'dodge', 'gas', 'turbo', 'two', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 2128, 'ohc', 'four', 98.0, 'mpfi', 3.0, 3.0, 7.0, '102', '5500', 24, 30, 7957.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'hatchback', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1967, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 6229.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1989, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 6692.0, '2001-02-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 1989, 'ohc', 'four', 90.0, '2bbl', 2.0, 3.0, 9.0, '68', '5500', 31, 38, 7609.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '148', 'dodge', 'gas', 'turbo', '?', 'sedan', 'fwd', 'front', 93.0, 157.0, 63.0, 50.0, 2191, 'ohc', 'four', 98.0, 'mpfi', 3.0, 3.0, 7.0, '102', '5500', 24, 30, 8558.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (-1, '110', 'dodge', 'gas', 'std', 'four', 'wagon', 'fwd', 'front', 103.0, 174.0, 64.0, 59.0, 2535, 'ohc', 'four', 0.0, '2bbl', 3.0, 3.0, 8.0, '88', '5000', 24, 30, 8921.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '145', 'dodge', 'gas', 'turbo', 'two', 'hatchback', 'fwd', 'front', 95.0, 173.0, 66.0, 50.0, 2811, 'ohc', 'four', 156.0, 'mfi', 3.0, 3.0, 7.0, '145', '5000', 19, 24, 12964.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (2, '137', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 86.0, 144.0, 63.0, 50.0, 1713, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '58', '4800', 49, 54, 6479.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (2, '137', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwdrkh', 'front', 86.0, 144.0, 63.0, 50.0, 1819, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 31, 38, 6855.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '101', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 150.0, 64.0, 52.0, 1837, 'ohc', 'four', 79.0, '1bbl', 2.0, 0.0, 10.0, '60', '5500', 38, 42, 5399.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '101', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 150.0, 64.0, 52.0, 1940, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 30, 34, 6529.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '101', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 150.0, 64.0, 52.0, 1956, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 30, 34, 7129.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '110', 'honda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 96.0, 163.0, 64.0, 54.0, 2010, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 30, 34, 7295.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '78', 'honda', 'gas', 'std', 'four', 'wagon', 'fwd', 'front', 96.0, 157.0, 63.0, 58.0, 2024, 'ohc', 'four', 92.0, '1bbl', 2.0, 3.0, 9.0, '76', '6000', 30, 34, 7295.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '106', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 96.0, 167.0, 65.0, 53.0, 2236, 'ohc', 'four', 110.0, '1bbl', 3.0, 3.0, 9.0, '86', '5800', 27, 33, 7895.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '106', 'honda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 96.0, 167.0, 65.0, 53.0, 2289, 'ohc', 'four', 110.0, '1bbl', 0.0, 3.0, 9.0, '86', '5800', 27, 33, 9095.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '85', 'honda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 96.0, 175.0, 65.0, 54.0, 2304, 'ohc', 'four', 110.0, '1bbl', 3.0, 3.0, 9.0, '86', '5800', 27, 33, 8845.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '85', 'honda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 96.0, 175.0, 62.0, 54.0, 2372, 'ohc', 'four', 110.0, '1bbl', 3.0, 3.0, 9.0, '86', '5800', 27, 33, 10295.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '85', 'honda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 96.0, 175.0, 65.0, 54.0, 2465, 'ohc', 'four', 110.0, 'mpfi', 3.0, 3.0, 9.0, '101', '5800', 24, 28, 12945.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '107', 'honda', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 96.0, 169.0, 66.0, 0.0, 2293, 'ohc', 'four', 110.0, '2bbl', 3.0, 3.0, 9.0, '100', '5500', 25, 31, 10345.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '?', 'isuzu', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 94.0, 170.0, 61.0, 53.0, 2337, 'ohc', 'four', 111.0, '2bbl', 3.0, 3.0, 8.0, '78', '4800', 24, 29, 6785.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '?', 'isuzu', 'gas', 'std', 'two', 'sedan', 'fwd', 'front', 94.0, 155.0, 63.0, 52.0, 1874, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 0.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '?', 'isuzu', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 94.0, 155.0, 63.0, 52.0, 1909, 'ohc', 'four', 90.0, '2bbl', 3.0, 3.0, 9.0, '70', '5400', 38, 43, 0.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (2, '?', 'isuzu', 'gas', 'std', 'two', 'hatchback', 'llkhir', 'front', 96.0, 172.0, 65.0, 51.0, 2734, 'ohc', 'four', 119.0, 'spfi', 3.0, 3.0, 9.0, '90', '5000', 24, 29, 11048.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '145', 'jaguar', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 113.0, 199.0, 69.0, 52.0, 4066, 'dohc', 'six', 258.0, 'mpfi', 3.0, 4.0, 8.0, '176', '4750', 15, 19, 32250.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '?', 'jaguar', 'gas', 'std', 'four', 'sedan', 'rwd', 'front', 113.0, 199.0, 69.0, 52.0, 4066, 'dohc', 'six', 258.0, 'mpfi', 3.0, 4.0, 8.0, '176', '4750', 15, 19, 35550.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (0, '?', 'jaguar', 'gas', 'std', 'two', 'sedan', 'rwd', 'front', 102.0, 191.0, 70.0, 47.0, 3950, 'ohcv', 'twelve', 326.0, 'mpfi', 3.0, 2.0, 11.0, '262', '5000', 13, 17, 36000.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '104', 'mazda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 159.0, 64.0, 54.0, 1890, 'ohc', 'four', 91.0, '2bbl', 3.0, 3.0, 9.0, '68', '5000', 30, 31, 5195.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '104', 'mazda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 159.0, 64.0, 54.0, 1900, 'ohc', 'four', 91.0, '2bbl', 3.0, 3.0, 9.0, '68', '5000', 31, 38, 6095.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '104', 'mazda', 'gas', 'std', 'two', 'hatchback', 'fwd', 'front', 93.0, 159.0, 64.0, 54.0, 1905, 'ohc', 'four', 91.0, '2bbl', 3.0, 3.0, 9.0, '68', '5000', 31, 38, 6795.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '113', 'mazda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 166.0, 64.0, 54.0, 1945, 'ohc', 'four', 91.0, '2bbl', 3.0, 3.0, 9.0, '68', '5000', 31, 38, 6695.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (1, '113', 'mazda', 'gas', 'std', 'four', 'sedan', 'fwd', 'front', 93.0, 166.0, 64.0, 54.0, 1950, 'ohc', 'four', 91.0, '2bbl', 3.0, 3.0, 9.0, '68', '5000', 31, 38, 7395.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '150', 'mazda', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 95.0, 169.0, 65.0, 49.0, 2380, 'rotor', 'two', 70.0, '4bbl', 0.0, 0.0, 9.0, '101', '6000', 17, 23, 10945.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '150', 'mazda', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 95.0, 169.0, 65.0, 49.0, 2380, 'rotor', 'two', 70.0, '4bbl', 0.0, 0.0, 9.0, '101', '6000', 17, 23, 11845.0, '2001-03-01 00:00:00.0000000 +00:00')
row = (3, '150', 'mazda', 'gas', 'std', 'two', 'hatchback', 'rwd', 'front', 95.0, 169.0, 65.0, 49.0, 2385, 'rotor', 'two', 70.0, '4bbl', 0.0, 0.0, 9.0, '101', '6000', 17, 23, 13645.0, '2001-04-01 00:00:00.0000000 +00:00')

In [10]:
conn.commit()

In [187]:
type('ag7')

str